@using WebApp.Models.Helpers;

<link rel="stylesheet" href="../../Content/landing.css">
<script src="https://kit.fontawesome.com/2ecc6225a1.js " crossorigin="anonymous "></script>

@{
    ViewBag.Title = "Home Page";
}



<main role="main">

    <div class="container">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <img alt="Bootstrap Image Preview" src="../../img/userImg.jpg" height="400" width="500" />
            </div>
            <div class="col-md-5">
                <h2 class="featurette-heading">Ahías Steller </h2>
                <p class="lead">Es un estudiante de Cenfotec con una determinación y talento en organización.</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <img alt="Bootstrap Image Preview" src="../../img/userImg.jpg" height="400" width="500" />
            </div>
            <div class="col-md-5">
                <h2 class="featurette-heading">Andres Gonzalez </h2>
                <p class="lead">Este estudiante de Cenfotec con un don para diseño.</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <img alt="Bootstrap Image Preview" src="../../img/userImg.jpg" height="400" width="500" />
            </div>
            <div class="col-md-5">
                <h2 class="featurette-heading">Jonathan Herrera </h2>
                <p class="lead">Tambien estudiante de cenfotec, es un trabajador duro y honesto.</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <img alt="Bootstrap Image Preview" src="../../img/userImg.jpg" height="400" width="500" />
            </div>
            <div class="col-md-5">
                <h2 class="featurette-heading">Tomás Chavarría Valenciano </h2>
                <p class="lead">Tomás es un estudiante con una ambicion para eventualmente poder crear sus propios videojuegos.</p>
            </div>
        </div>

    </div> <!-- /container -->


</main>