@using WebApp.Models.Helpers;


@{
    ViewBag.Title = "Horario";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2>Horario</h2>

<script src="~/Scripts/Views/ControlActions.js"></script>
<script src="~/Scripts/Views/Horario.js"></script>

<button id="btn-agregar-fila">Agregar un horario</button>

<button id="btn-datos">Obtener datos</button>
<button id="btn-imprimir">Ver datos</button>


<table class="table table-hover table-striped" id="tbl-horarios">
    <tr>
        <th>Opciones</th>
        <th>Día Inicial</th>
        <th>Hora Inicial</th>
        <th>Día final</th>
        <th>Hora Final</th>
        <th></th>
        <th></th>
    </tr>
</table>

@Html.CtrlButton(viewName: "Horario", id: "btnCreate", label: "Registrar", onClickFunction: "Create", buttonType: "success")
