
@{
    ViewBag.Title = "Monedero";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2 style="text-align:center">Monedero</h2>
<div>
    <div>
        <p style="font-size:25px;display:inline">Saldo: </p>
        <p id="saldo" style="font-size:25px;display:inline;margin-left:20px"></p>
    </div>
    <div style="border-top:solid 1px black;margin-top:20px">
        <h4>Recargar Monedero</h4>
        <label style="display:block;font-size:15px">Monto</label>
        <div>
            <input type="number" id="montoRecarga" style="width: 300px; height: 35px; margin-bottom: 20px; display: inline;" />
            <label style="display:inline;font-size:20px">₡</label>
        </div>
        
        <div id="paypal-payment-button" style="width: 100px; height: 30px; -webkit-appearance: none; "></div>
        <script src="https://www.paypal.com/sdk/js?client-id=ARAozPjCrY-1Kx2wj5mQDrZq7sw7N2uef8uGQ2WC86N7i1Cpc__-jZIdtxQrdEeUjZhWNQv58EFLD3FC&disable-funding=credit,card"></script>
        <script src="~/Scripts/Views/Monedero.js"></script>
    </div>
</div>


