@using WebApp.Models.Helpers;
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4aNZIQyvam7h8Zmdq8ldZ_7sdtVGcwtE"></script>
<script src="~/Scripts/Views/SocioVehiculos.js"></script>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<body>
    <h2 class="title-page">Vehiculo</h2>

    <div class="row">

        <div class="col-md-12 table-card">

            @Html.CtrlTable(viewName: "", id: "tblVehiculos", title: "Vehiculos",
                                      columnsTitle: "Tipo,Combustible,Modelo,Marca,Kilometraje,Estado,Imagen", ColumnsDataName: "Tipo,Combustible,Modelo,Marca,Kilometraje,Estado,Imagen",
                                       onSelectFunction: "", colorHeader: "red")

        </div>



    </div>
</body>
<style>
    #map {
        height: 400px;
        width: 800px;
    }
    #alert_container {
        position: fixed;
        left: 40%;
        top: 50%;
    }
</style>

