@using WebApp.Models.Helpers;
<script src="~/Scripts/Views/ControlActionsRegistro.js"></script>
<script src="~/Scripts/Views/Verificacion.js"></script>
@{ ViewBag.Title = "Verificacion"; Layout = "~/Views/Shared/_Layout.cshtml"; }


<h1 style="text-align:center">Verificar Cuenta</h1>

<div class="col-xs-4">

</div>
<div class="col-xs-4">
    <form id="formEnvio">


        <div class=" row">
            <div >
                <p style="margin: 10px 0px;"> Ingrese los códigos enviados</p>
            </div>
            @Html.CtrlInput(id: "txtOTP", type: "text", label: "Codigo Correo", columnDataName: "OTP")
            @Html.CtrlInput(id: "txtOTPSMS", type: "text", label: "Codigo SMS", columnDataName: "OTPSMS")
        </div>
        <div class="alert-danger" id="alertError" style="display:none;">Los códigos no pueden estar vacíos o contener letras</div>
        <div class="alert-danger" id="alert" style="display:none">
            ¡Códigos Incorrectos!
        </div>
        <div class="alert-success" id="alertReenviar" style="display:none;">
            Se enviaron los Códigos
        </div>
        <div class=" row" style="margin-bottom:10px;">
            @Html.CtrlButton(viewName: "Verificacion", id: "btnCreate", label: "Reenviar Códigos", onClickFunction: "EnviarCodigos", buttonType: "success")
        </div>
        <div class=" row" style="margin-bottom:10px;">
            @Html.CtrlButton(viewName: "Verificacion", id: "btnEnviar", label: "Verificar", onClickFunction: "Enviar", buttonType: "success")
        </div>
        <div>
            <div class="alert-warning" id="alertaTiempo" style="display:none;">El tiempo expiró para poder verificar la cuenta de clic en el enlace <a id="ReenviarA" href="#" class="alert-link">Reenviar Códigos</a></div>
            <p id="temporizador" style="font-size:100px"></p>
        </div>
    </form>
</div>
<div class="col-xs-4">

</div>



